.item-header{
  position: relative;
  top:0px;
  left:0px;
  right: 0px;
  height: 80px;

//  z-index: 200;
  padding-top: 26px;
  padding-left: 34px;
//  padding-right: -8px;


  background-color: red;
  color: white;
}